# Compiled Object files
*.slo
*.lo
*.o
*/debug/*
*/objs/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Apple
*.AppleDouble
*.DS_Store


#Binary
raumscanner
servoManualControl
servoTest
lidarTest

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz

# CLion
*.idea/
